/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}

/*Formato de la ventana*/
.modalbox{
    width: 600px;
    height: 500px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:20px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
        
}
/*Input */
input{
    border-radius: 20px;
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;

}
.modalmask:target .movedown{       
margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize{
    width:400px;
    height:200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 12px;
    text-align: center;
    top: 15px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;

}

.close:hover {
    background: #FAAC58;
    color:white;
}
/*Img*/
.img{
    display: flex;
    justify-content: center;
}
#i1 {
    grid-area: i1;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 2%;
    justify-content: center;
}
#text1{
    grid-area: text1;
}
a{
    text-decoration: none;
}
.img1{

    display: block;
    margin: 0 auto;
    height: 20px;
}

#text1{
    width: 100%;
    font-size: 60%;
    display: flex;
    justify-content: center;
    border-top: #111 solid .5px;
}
#dato{
    grid-area: dato;
}

.relleno{
    height: 70%;
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows:80% 20%;
    grid-template-areas:
    "dato"
    "container"
}
/*Dato*/
#dato{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#dato > p{
    font-size: 15px;
    align-items: center;
}
/*Botones*/
button {
    --primary-color: #0050F5;
    --secondary-color: #fff;
    --hover-color: #111;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: background-color 0.3s ease;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 6%;
    width: auto;
    height: 50px;
}
button:hover {
    background-color: white;
    color: #0050F5;
    border: 2px solid #0050F5;
}

.boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    
    
}    
.container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
input,
select{
    padding: 5px;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 30px;
    height: 30px;
}
