html,body,main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    grid-area:
    "navbar" 
    "content";
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    gap:200px;
    border-bottom: 1px solid black;
}
.reserve{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    grid-area: reserve;
}
.reserve h2{
    margin-bottom: 1%;
}
.device{
    grid-area: device;
}
.service{
    grid-area: service;
}
.continuar{
    grid-area: continuar;
}
.content{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "reserve reserve reserve"
    "device service continuar";
}
.titulo{
    grid-area: titulo;
}
.imagenes{
    grid-area: imagenes;
}
.relleno{
    grid-area: relleno;
}
.device,.service{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 25% 65%;
    grid-template-areas: 
    "titulo"
    "imagenes"
    "relleno";
}

#titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:30px
}
#relleno{
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center
}
#imagen1{
    width: 90px;
}
#imagen2{
    width: 60px;
    height: 120px;
}
#imagen3{
    width: 60px;
    height: 70px;
}
#imagen4{
    width: 45px;
    height: 70px;
}
#imagen5{
    width: 60px;
    height: 120px;
}
#imagen6{
    width: 60px;
    height: 60px;
}
#imageb{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 140px;
    background-color: #0050f5;
    border-radius: 10px;
}
.continuar{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-bottom: 80px;
}

.button {
    border: none;
    color: white;
    padding:1px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #0050f5;
    border-radius: 50px;
}
#borde{
    border: 1px solid black;
    border-radius: 50px;
}