@font-face {
    font-family: "MyriadPro-Regular";
    src: url(../font/MYRIADPRO-REGULAR.woff) format(woff);
}
@font-face {
    font-family: "MyriadPro-Light";
    src: url(../font/MyriadPro-Light.woff) format(woff);
}
@font-face {
    font-family: "MyriadPro-Semibold";
    src: url(../font/MYRIADPRO-SEMIBOLD.woff) format(woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Distribucion de la pantalla */
.navbar{
    grid-area: navbar;
}
.content{
    grid-area: content;
}
main{
    height: 100vh;
    padding-top: 33px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas:
    "navbar" 
    "content";
}

/* Navbar */
.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr 180px; /* Adjust column widths as needed */
    grid-template-areas: 
        "esquina1 navsec esquina2";
    align-items: center;
}

.esquina {
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquina1 {
    grid-area: esquina1;
}

.esquina2 {
    grid-area: esquina2;
}

#navsec {
    grid-area: navsec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 15px 180px 5px;
}

#fotop {
    width: 107px;
    height: 107px;
}
#logo{
    width: 190px;
    height: 90px;
}
/* Secciones */
.content{
    height: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "pay pay pay"
    "contact money continuar";
}
.pay{
    grid-area: pay;
}
.contact{
    grid-area: contact;
}
.money{
    grid-area: money;
}
.continuar{
    grid-area: continuar;
}

/* pay */
.pay{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
}
.pay h3{
    margin-top: 26px;
    margin-bottom: 13px;
}
.pay p{
    width: 618px;
    margin: 0px;
}
/* contact Y money */
#datos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px
}
#datos2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:20px
}
#centro{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* contact */
.contact{
    padding-top: 45px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.contact h4{
    width: 442px;
}
#text{
    text-align: start;
}
#text p{
    margin-left: 5%;
}
/* Money */
.money {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}
/* Continuar */
.continuar{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    padding-top: 35px;
    padding-right: 90px;
}
.continuar div p{
    margin: 3%;
}
#button{
    width: 246px;
    height: 72px;
    border: none;
    border-radius: 60px;
    background-color: #0050F5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button:hover {
    background-color: #ffffff;
    color:#0050F5;
    border: 2px solid #0050F5;
}
#boton{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fecha{
    width: 100%;
    border-top:1px solid #000000;
    border-bottom:1px solid #000000;
}
#fecha p{
    margin-top: 2.5%;
}
#subtotal{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.precio{
    width: 100%;
    display:flex;
    justify-content: space-between;
}
#precio1{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#precio1 div p,#precio1 div h3{
    margin: 5px;
}
#total{
    border-top:1px solid #000000 ;
    display: flex;
    width: 100%;
    justify-content: space-between;
} 
#textp{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
/* imagenes */
.imagenes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:28px;
    margin-bottom:39px
}
#visab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 89px;
    height: 61px;
    border-radius: 15px;
    background-color: #0050F5;
}
#visa{
    width: 67px;
    height: 45px;
}
#mastercard{
    width: 67px;
    height: 45px;
}
#amex{
    width: 61px;
    height: 34px;
}
/* borde */
#borde1{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 279px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#borde2{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 218px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#borde3{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 335px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#borde4{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 335px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#borde5{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 158px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#bordet{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: start;
    height: 69px;
    width: 486px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#tarjeta{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}