@font-face {
    font-family: "MyriadPro-Regular";
    src: url(../font/MYRIADPRO-REGULAR.woff) format(woff);
}
@font-face {
    font-family: "MyriadPro-Light";
    src: url(../font/MyriadPro-Light.woff) format(woff);
}
@font-face {
    font-family: "MyriadPro-Semibold";
    src: url(../font/MYRIADPRO-SEMIBOLD.woff) format(woff);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Distribucion de la pantalla */
.navbar{
    grid-area: navbar;
}
.content{
    grid-area: content;
}
main{
    height: 100vh;
    padding-top: 33px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    grid-template-areas:
    "navbar" 
    "content";
}

/* Navbar */
.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 180px 1fr 180px; /* Adjust column widths as needed */
    grid-template-areas: 
        "esquina1 navsec esquina2";
    align-items: center;
}

.esquina {
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquina1 {
    grid-area: esquina1;
}

.esquina2 {
    grid-area: esquina2;
}

#navsec {
    grid-area: navsec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    padding: 15px 180px 5px;
}

#fotop {
    width: 107px;
    height: 107px;
}
#logo{
    width: 190px;
    height: 90px;
}
/* Secciones */
.content{
    height: 100%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "pay pay pay"
    "device service continuar";
}
.pay{
    grid-area: pay;
}
.device{
    grid-area: device;
}
.service{
    grid-area: service;
}
.continuar{
    grid-area: continuar;
}

/* pay */
.pay{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;}

.pay h3{
    margin-top: 26px;
    margin-bottom: 13px;
}
.pay p{
    width: 618px;
    margin: 0px;
}

/* Device Y Service */
.titulo{
    grid-area: titulo;
}
.imagenes{
    grid-area: imagenes;
}
.relleno{
    grid-area: relleno;
}
.device,.service{
    height: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 30% 60%;
    grid-template-areas: 
    "titulo"
    "imagenes"
    "relleno";
}
#borde{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 470px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#bordec{
    display: flex;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    width: 470px;
    border: 1px solid #000000;
    border-radius: 40px;
    padding:10px;
    padding-left: 30px;
    padding-right: 20px;
}
#borde p{
    margin: 0;
}
.texti{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* device */
.device #titulo{
    text-align: center;
}
.device #imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:22px
}
.device #relleno{
    margin-left: 90px;
}
/* serivice */
.service #titulo{
    text-align: center;
}
.service #imagenes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:22px
}
#arrow{
    background-color: #000000;
}
.service #relleno{
    margin-left: 90px;
}
/* Tamaño de imagenes */
#imagen1{
    width: 125px;
    height: 124px;
}
#imagen2{
    width: 62px;
    height: 124px;
}
#imagen3{
    width: 72px;
    height: 101px;
    margin: 22px;
    margin-bottom: 10px;
}
#imagen4{
    width: 42px;
    height: 84px;
}
#imagen5{
    width: 73px;
    height: 147px;
}
#imagen6{
    width: 68px;
    height: 68px;
}
#imagenb1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 105px;
    background-color: #0050F5;
    border-radius: 20px;
}
#imagenb1 p{
    margin: 0;
    margin-top: 4px;
    color:#ffffff
}
#imagenb2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 202px;
    width: 112px;
    background-color: #0050F5;
    border-radius: 20px;
}
#imagenb2 p{
    margin: 0;
    margin-top: 4px;
    color:#ffffff
}
/* Continuar */
.continuar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:start;
    padding-top:170px;
    padding-left:120px;
}
#button{
    width: 246px;
    height: 72px;
    border: none;
    border-radius: 60px;
    background-color: #0050F5;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#button:hover {
    background-color: #ffffff;
    color:#0050F5;
    border: 2px solid #0050F5;
}

